@import url(style.css);

/* Section - Infiltration */
.infiltration {
    display: flex;
    flex-direction: column;
    gap: 100px;
  padding: 125px;
  h3 {
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: center;
  }
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .separator {
        position: relative;
        width: 110px;
        height: 4px;
        background-color: var(--secondary);
        border-radius: 100%;
        box-shadow: 0 0 5px 0 var(--secondary);
        &::after { 
            content: "";
            position: absolute;
            left: -50%;
            right: -50%;
            height: 100%;
            background-image: linear-gradient(90deg, transparent, var(--secondary), transparent);
        }
    }
}
/* Card */
.cards {
  display: flex;
  width: 100%;
 justify-content: space-between;
}
.card {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  width: 400px;
  border-radius: 10px;
  background-color: var(--brand-grey);
  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border: 2px solid var(--secondary);
    /* border: 3px solid var(--grey); */
    border-radius: 1000px;
  }
  p {
    text-align: center;
  }
}
.info {
  width: 80%;
  font-size: 1.15rem;
  text-transform: uppercase;
  div:first-child {
    margin-bottom: 20px;
  }
  div {
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
  }
}
.difficulte {
  display: flex;
  align-items: center;
  .note img {
    border: none;
    height: 30px;
  }
}
.card-hover {
  display: flex;
  opacity: 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s ease;
  inset: 0;
}
.card:hover .card-hover {
  opacity: 1;
  background-color: var(--brand-red-half);
  backdrop-filter: blur(5px);
}

/* Section - Expérience */
.experience {
    display: flex;
    flex-direction: column;
    gap: 100px;
  padding: 125px;
  h3 {
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: center;
  }
}