@import url(style.css);

.titre_page {
  margin: 100px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.connexion_form {
  align-items: unset;
  width: 75%;
  margin: auto;
}

.form_link {
  display: flex;
  justify-content: space-around;
  button {
    font-family: var(--title);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    padding: 8px 10%;
    &[aria-expanded = true] {
      background-color: var(--primary);
      border: 1.5px solid var(--secondary);
      border-bottom: none;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}

.deco {
  position: absolute;
  right: 100px;
  top: 400px;
  height: 400px;
  z-index: -100;
  animation: montgolfiere 8s ease-in-out infinite reverse;
}

@keyframes montgolfiere {
  0% {
    transform: translateY(-100px);
  } 50% {
    transform: translateY(0px);

  } 100% {
    transform: translateY(-100px);

  }
}