@import url(style.css);

.titre_page {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.contact_form {
  align-items: unset;
  width: 75%;
  margin: auto;
}

@media (max-width: 992px) {
  .contact_form {
    width: 90%;
  }
  .titre_page {
    margin: 50px 0;
  }
}

@media (max-width: 480px) {
  .contact_form {
    width: 95%;
  }
}
