@import url(style.css);

.titre_page {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.contact_form {
  align-items: unset;
  width: 75%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 130px 320px;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  .form-input_wrap {
    display: flex;
    justify-content: space-betweena;
    gap: 10px;
  }
  [class|="input"] {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    label {
      display: flex;
      gap: 15px;
      align-items: center;
    }
    input, textarea {
      border: 1px solid var(--secondary);
      background: none;
      min-height: 40px;
      color: var(--white);
      &:focus {
        outline-style: none;
        border: 2px solid var(--primary);
        border-radius: 0;
        box-shadow: 0 0 10px var(--white);
      }
      &:-webkit-autofill {
        background-color: var(--brand-black) !important;
        -webkit-box-shadow: 0 0 0px 1000px var(--brand-black) inset;
        -webkit-text-fill-color: var(--white); /* couleur du texte */
      }
    }
  }
  .cta {
    align-self: center;
  }
  .input-mdp a{
    font-style: italic;
    align-self: flex-end;
    color: var(--brand-grey);
  }
  .input-message textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
  }
}
