/* Cartes mission : partagé entre page escapes et gestion-escapes */

.missions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.mission {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 75%;
}
.mission .img {
  min-width: 50%;
  max-width: 50%;
  height: auto;
  position: relative;
}
.mission .img img {
  width: 100%;
  display: block;
}
.mission .img span {
  background-image: linear-gradient(90deg, transparent, var(--brand-black));
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
}
.mission h2 {
  margin: auto;
}
.mission .info {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.mission .info a {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: flex-end;
  margin-top: 50px;
}
.mission .info .text {
  margin-top: 20px;
}
.mission .info .text .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 20px;
  text-indent: 20px;
}
.mission .info .links {
  margin-top: 0;
  display: flex;
  gap: 20px;
}
