@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Color */
  	/* Brand */
  --primary: #82212a;
  --secondary: oklch(0.6665 0.0944 65.51);
  --secondary-half: oklch(0.6665 0.0944 65.51 / 50%);
  --brand-red: #944640;
  --brand-white: #e2e1ea;
  --brand-grey: #6e707b;
  --brand-black: #2f2b2c;
  	/* Black - White */
  --black: #1f1f1f;
  --black-half: oklch(0.2393 0 129.63 / 50%);
  --grey: #828282;
  --white: oklch(0.9612 0 0);
  	/* State */
  --info: #00bcff;
  --succes: #7ccf00;
  --warning: #ffb86a;
  --error: #fb2c36;

  /* Fonts */
  --title: "Cinzel Decorative", serif;
  --text: "Montserrat", sans-serif;
}

.place {
	font-size: 3rem;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
	font-family: var(--title);
}

p, a, li, ul, button{
	font-family: var(--text);
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

/* Header */
header {
	position: sticky;
	top: 10px;
	margin: 10px;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--black-half);
	color: var(--white);
	border: 2px solid var(--secondary-half);
	.menu {
		display: flex;
		align-items: center;
		gap: 40px;
		font-size: 1rem;
		font-weight: bold;
		.important {
			padding: 10px;
			border: 2px solid var(--secondary-half);
		}
	}
}